@import "../../../assets/sass/to-import.scss";

.game-content {
  padding-top: 20px;

  .score-board {
    @include display-flex();
    @include flex-flow(row, nowrap);
    @include justify-content(space-between);

    .box {
      @include flex-grow(1);
    }

    .message-box {
      @include flex-grow(3);
      margin: 0 20px;

      .jumbotron {
        background-color: #ffffff;
        margin: 0;
        padding: 30px 4px;

        h4 {
          font-size: 20px;
        }
      }
    }

    .score {
      padding: 0;
      max-width: 140px;
      border: none;
      background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
      background-repeat: no-repeat;
      color: #ffffff;
      @include box-shadow($x: 1px, $y: 1px);

      .number {
        padding: 10px 19px;
        border-bottom: 2px solid #f1f1f1;
        font-size: 30px;
      }

      .name {
        font-size: 18px;
        padding: 10px 19px;
        overflow-x: hidden;
      }
    }
  }

  .choices-container {
    @include display-flex();
    @include flex-flow(row, nowrap);
    @include justify-content(space-around);
    margin-top: 15vh;

   .box {
      margin: 0 10px;
      padding: 40px;
      @include border-radius(20px);
      @include box-shadow($x: 1px, $y: 1px);

     i {
        @include transition(‘transform .1s ease-in 0s’);
      }

     &:hover {
        & i {
          @include transform(scale(1.2));
        }
      }
    }
  }

}
