<div class="container-fluid">
  <div class="row">

    <div id="statusBar" class="panel panel-default hidden-atw">
      <div class="panel-body text-center clearfix">
        <button class="btn btn-warning btn-sm pull-left" type="button" name="players" (click)="onPlayersClick()">
          <i class="fa fa-user-circle-o" aria-hidden="true"></i>
          Players
        </button>

        <button class="btn btn-warning btn-sm pull-right" type="button" name="matches" (click)="onMatchesClick()">
          Matches
          <i class="fa fa-futbol-o" aria-hidden="true"></i>
        </button>
      </div>
    </div>

    <div class="col-sm-3 col-lg-2 list-container player-list-container" [ngClass]="{'open': showPlayerList}">
      <app-player-list (gameRequestSend)="onGameReqSend($event)"></app-player-list>
    </div>


    <div class="col-sm-6 col-lg-8 text-center game-content">

      <div class="score-board">
        <div class="box">
          <div class="well score">
            <div class="number">
              <strong>{{myScore}}</strong>
            </div>
            <div class="name">
              <p>{{username}}</p>
            </div>
          </div>
        </div>

        <div class="box message-box">
          <div class="jumbotron" [ngStyle]="{'background-color': resultColor}">
            <h4 *ngIf="!matchOn">Please choose an opponent from the left</h4>
            <ng-container *ngIf="matchOn">
              <h4 *ngIf="resultColor == '#ffffff'">Game on</h4>
              <h4 *ngIf="resultColor == '#73a839'">Win</h4>
              <h4 *ngIf="resultColor == '#c71c22'">Lose</h4>
              <h4 *ngIf="resultColor == '#033c73'">Draw</h4>
            </ng-container>
          </div>
        </div>

        <div class="box">
          <div class="well score">
            <div class="number">
              <strong *ngIf="matchOn">{{oppScore}}</strong>
            </div>
            <div class="name">
              <p *ngIf="matchOn">dana</p> <!--TODO: style this properly when !matchOn-->
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="matchOn" class="choices-container">
        <div (click)="selectChoice(choice)" *ngFor="let choice of choices;" class="btn btn-warning box"
             [attr.data-toggle]="myScore == 2 || oppScore == 2 ? 'modal' : ''" data-target="#gameOver">
          <i class="fa fa-hand-{{choice}}-o fa-5x myChoices" aria-hidden="true"></i>
        </div>

       <div id="vsBox" *ngIf="choices.length == 1" class="btn btn-warning box">
          <i class="fa fa-arrows-h fa-5x" aria-hidden="true"></i>
        </div>

       <div *ngIf="choices.length == 1" class="btn btn-warning box">
          <i class="fa fa-hand-{{oppChoice}}-o fa-5x" aria-hidden="true"></i>
        </div>
      </div>

    </div>

    <div class="col-sm-3 col-lg-2 list-container match-list-container" [ngClass]="{'open': showMatchList}">
      <app-ongoing-games></app-ongoing-games>
    </div>

  </div>
</div>

<!-- <div id="waitForPlayer" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-center">
        <div class="">
          <h2>Waiting for opponent..</h2><br />
          <i class="fa fa-spinner fa-pulse fa-3x fa-fw" style="color: #317eac;"></i><br /><br />
          <button class="btn btn-primary" data-dismiss="modal">Cancel</button>
        </div>

        <div class="">
          <h2>Your opponent is a coward. He rejected your game invitation..</h2><br />
          <button class="btn btn-primary" data-dismiss="modal">Ok</button>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div *ngIf="showWaitModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <div *ngIf="!oppRefused" class="">
          <h2>Waiting for opponent..</h2>
          <br>
          <i class="fa fa-spinner fa-pulse fa-3x fa-fw" style="color: #317eac;"></i>
          <br>
          <br>
          <!-- <button class="btn btn-primary" data-dismiss="modal">Cancel</button> -->
        </div>

        <div *ngIf="oppRefused" class="">
          <h3>Your opponent is a coward. He rejected your game invitation..</h3>
          <br>
          <button class="btn btn-primary" data-dismiss="modal" (click)="dismissWaitModal()">Ok</button>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div *ngIf="showRequestModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <h3><strong>{{opponent.username}}</strong> challenged you!</h3>
        <h4>Are you brave enough?</h4>
        <br>

        <button class="btn btn-primary" data-dismiss="modal" (click)="sendGameResponse(true)">Yes</button>
        <button class="btn btn-danger" data-dismiss="modal" (click)="sendGameResponse(false)">No</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- <div id="receiveGameRequestModal" class="modal" [style.display]="hasOponent ? 'block' : 'none'">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-center">
          <h3><strong>{{oponentName}}</strong> challenged you</h3>
          <p>Are you brave enough?</p>
      </div>

      <div class="modal-footer text-center">
        <button class="btn btn-primary" data-dismiss="modal" (click)="sendGameResponse(true)">Let's play!</button>
        <button class="btn btn-primary" data-dismiss="modal" (click)="sendGameResponse(false)">No, thanks</button>
      </div>
    </div>
  </div>
</div> -->


<!-- TODO: Add 1 sec timeout before showing this  -->
<!-- <div id="gameOver" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-center">
        <h2 *ngIf="myScore == 2">You won !!!</h2><br />
        <h2 *ngIf="oppScore == 2">You lost !!!</h2><br />
        <button (click)="endGame();selectChoice(rock);" class="btn btn-primary" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div> -->
