@import "../../../assets/sass/to-import.scss";

.modal {
  display: block;
  .btn {
    margin: 0 0.25em;
  }
}

.game-content {
  padding-top: 20px;

  .score-board {
    @include display-flex();
    @include flex-flow(row, nowrap);
    @include justify-content(space-between);

    .box {
      @include flex-basis(100px);
      @include flex-shrink(0);
    }

    .message-box {
      @include flex-grow(1);
      margin: 0 20px;

      .jumbotron {
        margin: 0;
        padding: 30px 4px;

        h4 {
          font-size: 20px;
        }

        .result-div {
          color: white;
        }
      }
    }

    .score {
      padding: 0;
      border: none;
      background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
      background-repeat: no-repeat;
      color: #ffffff;
      @include box-shadow($x: 1px, $y: 1px);

      .number {
        height: 64px;
        padding: 10px 19px;
        border-bottom: 2px solid #f1f1f1;
        font-size: 30px;
      }

      .name {
        height: 45px;
        font-size: 18px;
        padding: 10px 19px;
        overflow-x: hidden;
        overflow-y: hidden;
      }
    }
  }

  .add-choices {
    opacity: 0;
    animation: add-choices-animation .3s linear forwards;

    @keyframes  add-choices-animation {
      from {
        opacity: 0;
        transform: translateY(-400px);
      }

      to {
        opacity: 1;
        transform : translateY(0);
      }
    }
  }

  .drop-choices {
    animation: drop-choices-animation .3s cubic-bezier(0.55, -0.04, 0.91, 0.94) forwards;

    @keyframes drop-choices-animation {
      0% {
        opacity: 1;
      }

      100% {
        opacity: 0;
        transform: translateY(200px) ;
      }
    }
  }

  .choices-container {
    @include display-flex();
    @include flex-flow(row, nowrap);
    @include justify-content(center);
    margin-top: 15vh;
   .box {
      margin: 0 3vw;
      padding: 40px;
      width: 152px;
      height: 152px;
      @include border-radius(20px);
      @include box-shadow($x: 1px, $y: 1px);

     i.myChoices {
        @include transition('transform .2s ease-in 0s');
     }

     &:hover {
        & i.myChoices {
          @include transform(scale(1.2));
        }
      }
    }

    .choice-disabled {
      cursor: default;
      &.btn-warning:hover,
      &.btn-warning:active:hover, &.btn-warning.active:hover, &.open>.dropdown-toggle.btn-warning:hover,
      &.btn-warning:active:focus, &.btn-warning.active:focus, &.open>.dropdown-toggle.btn-warning:focus,
      &.btn-warning:active.focus, &.btn-warning.active.focus, &.open>.dropdown-toggle.btn-warning.focus {
        background-image: linear-gradient(#ff6707, #dd5600 60%, #c94e00);
        background-repeat: no-repeat;
        border-color: #dd5600;;
      }

      &:hover {
        i.myChoices {
          @include transform(none);
        }
      }
    }

    #vsBox{
      background: white;
      border: 0;
      box-shadow: none;
      color: #54b4eb;

      i{
        @include transform(scale(1.6));
      }
    }
  }
}

@media screen and (max-width: 1200px){
  .game-content {
    .choices-container {
      .box {
            padding: 0.9em;
            width: 6em;
            height: 6em;

        .fa-5x {
          font-size: 4em;
        }

        i{
          -webkit-transform: scale(0.6);
             -moz-transform: scale(0.6);
              -ms-transform: scale(0.6);
               -o-transform: scale(0.6);
                  transform: scale(0.6);
        }
        &:hover {
           & i.myChoices {
             -webkit-transform: scale(0.8);
                -moz-transform: scale(0.8);
                 -ms-transform: scale(0.8);
                  -o-transform: scale(0.8);
                     transform: scale(0.8);
          }
        }
      }
      .choice-disabled {
        cursor: default;
        &.btn-warning:hover,
        &.btn-warning:active:hover, &.btn-warning.active:hover, &.open>.dropdown-toggle.btn-warning:hover,
        &.btn-warning:active:focus, &.btn-warning.active:focus, &.open>.dropdown-toggle.btn-warning:focus,
        &.btn-warning:active.focus, &.btn-warning.active.focus, &.open>.dropdown-toggle.btn-warning.focus {
          background-image: linear-gradient(#ff6707, #dd5600 60%, #c94e00);
          background-repeat: no-repeat;
          border-color: #dd5600;;
        }

        &:hover {
          & i.myChoices {
             -webkit-transform: scale(0.6);
                -moz-transform: scale(0.6);
                 -ms-transform: scale(0.6);
                  -o-transform: scale(0.6);
                     transform: scale(0.6);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1000px){
  .score-board{
    .message-box{
      .jumbotron{
        .choose-opp {
          margin-top: -32px;
        }
      }
    }
  }
}

@media screen and (max-width: 800px){
  .game-content{
    .choices-container{
      .box {
        padding: 0.4em;
        width: 5em;
        height: 5em;
      }
    }
  }
}

@media screen and (max-width: 414px){
  .game-content{
    .choices-container{
      #vsBox{
        i{
          @include transform(scale(1.2));
        }
      }
    }
  }
}

@media screen and (max-width: 385px){
  .game-content{
    .score-board{
      .message-box{
        .jumbotron{
          .choose-opp {
            margin-top: -15px;
            font-size: 16px;
          }
        }
      }
    }
  }
}


@media screen and (max-width: 360px){
  .game-content .score-board .box {
    -webkit-flex-basis: 96px;
    -moz-flex-basis: 96px;
    -ms-flex-preferred-size: 96px;
    flex-basis: 96px;
  }

  .game-content{
    .score-board{
      .message-box{
        .jumbotron{
          padding: 35px 4px;
          h4{
            margin-top: -13px;
          }
          .choose-opp {
            margin-top: -31px;
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 320px){
  .game-content .score-board .box {
    -webkit-flex-basis: 83px;
    -moz-flex-basis: 83px;
    -ms-flex-preferred-size: 83px;
    flex-basis: 83px;
  }

  .game-content{
    .choices-container{
      .box{
        padding: 5px;
        width: 77px;
        height: 77px;

        i{
          -webkit-transform: scale(0.5);
          -moz-transform: scale(0.5);
          -ms-transform: scale(0.5);
          -o-transform: scale(0.5);
          transform: scale(0.5);
        }
      }

    }
    .score-board{
      .score{
        .name{
          font-size: 15px;
        }
      }
      .message-box{
        .jumbotron{
          h4{
            font-size: 15px;
            margin-top: 6px;
          }
        }
      }
    }
  }
}

#statusBar {
  margin: 0;
  margin-top: -21px;
  border: none;
  @include border-radius-separate($topLeftRadius: 0, $topRightRadius: 0, $bottomLeftRadius: 5px, $bottomRightRadius: 5px);
  @include box-shadow($x: 0px, $y: 2px);
  background-color: lighten(#2fa4e7, 10%);

  .panel-body {
    padding: 8px 15px 4px 15px;

    button {
      width: 84px;
    }
  }
}

@media only screen and (max-width: 767.99px) {
  .list-container {
    display: none;
    position: absolute;
    top: 100px;
    z-index: 1;
    margin: 0;
    padding: 0;
    width: 220px;
    background-color: #ffffff;

    &.player-list-container {
      left: 0;
      @include animation("toggle-player-list .4s ease-in-out 0s 1");
    }

    &.match-list-container {
      right: 0;
      @include animation("toggle-match-list .4s ease-in-out 0s 1");
    }

    &.open {
      display: block;
    }
  }
}

@include keyframes(toggle-player-list) {
  0% {
    @include opacity(0);
  }

  75% {
    @include opacity(1);
    @include transform(translateX(12px));
  }

  90% {
    @include opacity(1);
    @include transform(translateX(-4px));
  }

  100% {
    @include opacity(1);
    @include transform(translateX(0));
  }
}

@include keyframes(toggle-match-list) {
  0% {
    @include opacity(0);
  }

  75% {
    @include opacity(1);
    @include transform(translateX(-12px));
  }

  90% {
    @include opacity(1);
    @include transform(translateX(4px));
  }

  100% {
    @include opacity(1);
    @include transform(translateX(0));
  }
}
