<div class="container-fluid">
  <div class="row">

    <div class="col-sm-3 col-lg-2">
      <app-player-list></app-player-list>
    </div>


    <div class="col-sm-6 col-lg-8 text-center game-content">

      <div class="score-board">
        <div class="box">
          <div class="well score">
            <div class="number">
              <strong>0</strong>
            </div>
            <div class="name">
              petru
            </div>
          </div>
        </div>

        <div class="box message-box">
          <div class="jumbotron">
            <h4>Please choose an opponent from the left</h4>
          </div>
        </div>

        <div class="box">
          <div class="well score">
            <div class="number">
              <strong>1</strong>
            </div>
            <div class="name">
              dana
            </div>
          </div>
        </div>
      </div>

      <div class="choices-container">
        <div class="btn btn-warning box">
          <i class="fa fa-hand-rock-o fa-5x" aria-hidden="true"></i>
        </div>

       <div class="btn btn-warning box">
          <i class="fa fa-hand-paper-o fa-5x" aria-hidden="true"></i>
        </div>

       <div class="btn btn-warning box">
          <i class="fa fa-hand-scissors-o fa-5x" aria-hidden="true"></i>
        </div>
      </div>

    </div>


    <div class="col-sm-3 col-lg-2">
      <app-ongoing-games></app-ongoing-games>
    </div>

  </div>
</div>
