@import "../../../assets/sass/to-import.scss";

.game-content {
  padding-top: 20px;

  .score-board {
    @include display-flex();
    @include flex-flow(row, nowrap);
    @include justify-content(space-between);

    .box {
      @include flex-grow(1);
    }

    .message-box {
      @include flex-grow(3);
      margin: 0 20px;

      .jumbotron {
        margin: 0;
        padding: 30px 4px;

        h4 {
          font-size: 20px;
        }
      }
    }

    .score {
      padding: 0;
      max-width: 140px;
      border: none;
      background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
      background-repeat: no-repeat;
      color: #ffffff;
      @include box-shadow($x: 1px, $y: 1px);

      .number {
        height: 64px;
        padding: 10px 19px;
        border-bottom: 2px solid #f1f1f1;
        font-size: 30px;
      }

      .name {
        height: 45px;
        font-size: 18px;
        padding: 10px 19px;
        overflow-x: hidden;
      }
    }
  }

  .choices-container {
    @include display-flex();
    @include flex-flow(row, nowrap);
    @include justify-content(center);
    margin-top: 15vh;

   .box {
      margin: 0 3vw;
      padding: 40px;
      width: 152px;
      height: 152px;
      @include border-radius(20px);
      @include box-shadow($x: 1px, $y: 1px);

     i.myChoices {
        @include transition('transform .2s ease-in 0s');
      }

     &:hover {
        & i.myChoices {
          @include transform(scale(1.2));
        }
      }
    }
  }
}

@media screen and (max-width: 1200px){
  .game-content {
    .choices-container {
      .box {
        padding: 13px;
        width: 100px;
        height: 100px;

        i{
          -webkit-transform: scale(0.6);
             -moz-transform: scale(0.6);
              -ms-transform: scale(0.6);
               -o-transform: scale(0.6);
                  transform: scale(0.6);
        }
        &:hover {
           & i.myChoices {
             -webkit-transform: scale(0.8);
                -moz-transform: scale(0.8);
                 -ms-transform: scale(0.8);
                  -o-transform: scale(0.8);
                     transform: scale(0.8);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px){
  .col-sm-3{
    display: none;
  }
}

@media screen and (max-width: 360px){
  .game-content{
    .score-board{
      .message-box{
        .jumbotron{
          h4{
            margin-top: -13px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 320px){
  .game-content{
    .choices-container{
      .box{
        padding: 3px;
        width: 77px;
        height: 77px;

        i{
          -webkit-transform: scale(0.5);
          -moz-transform: scale(0.5);
          -ms-transform: scale(0.5);
          -o-transform: scale(0.5);
          transform: scale(0.5);
        }
      }

    }
    .score-board{
      .score{
        .name{
          font-size: 15px;
        }
      }
      .message-box{
        .jumbotron{
          h4{
            font-size: 15px;
            margin-top: 6px;
          }
        }
      }
    }
  }
}
