<ul class="list-group ul-heading">
  <li class="list-group-item">
    <h4 class="list-group-item-heading text-center">Active Players</h4>
  </li>
</ul>
<ul class="list-group ul-body players">
  <li class="list-group-item" *ngFor="let player of playerList"
      [ngClass]="{'disabled':player.inMatch}"
      (click)="onPlayerClick(player.id)"
      >
    <a><span class="label label-success" [ngClass]="{'label-danger':player.inMatch}"></span>
      {{player.username}}
    </a>
  </li>
</ul>


<!-- <li> atributes -->
<!-- [attr.data-toggle]="player.inMatch ? '' : 'modal'" data-target="#waitForPlayer"
data-backdrop="static" data-keyboard="false" -->
