.container {
  padding-bottom: 40px;
}

.acc-info {
  padding: 40px 0 0 154px;
}

.no-border {
  border: 0;
}

ul {
  li {
    border: none;
    font-size: 18px;
  }
}

.badge{
  margin: 0.5% 55% 0 0;
  width: 40px;
}
.progress{
  width: 30%;
}
