.container {
  padding-bottom: 40px;
}

.acc-info {
  padding: 40px 0 0 154px;
}

.no-border {
  border: 0;
}

ul {
  li {
    border: none;
    font-size: 18px;
  }
}

.badge {
  width: 40px;
}

strong {
  display: inline-block;
  width: 10vw;
}

.list-group {
  width: 40vw;
}
