.container {
  padding-bottom: 40px;
}

.acc-info {
  padding: 40px 0 0 154px;
}

.no-border {
  border: 0;
}

ul {
  li {
    border: none;
    font-size: 18px;
  }
}

.badge {
  width: 40px;
}

strong {
  display: inline-block;
  width: 13vw;
}

.list-group {
  width: 37vw;
}

.modal .btn {
  margin: 0 0.25em;
}

svg {
  fill: #ffffff;
  height: 20px;
  width: 20px;
}

@media only screen and (max-width: 1024px) {
  strong {
    width: 17vw;
  }

  .list-group {
    width: 45vw;
  }
}

@media only screen and (max-width: 768px) {
  .list-group {
    width: 92vw;
  }

  strong {
    width: 30vw;
  }
}

@media only screen and (max-width: 667px) and (orientation: landscape) {
  .list-group {
    width: 95vw;
  }

  strong {
    width: 26vw;
  }
}

@media only screen and (max-width: 414px) {
  .page-header .pull-left {
    float: none !important;
  }

  img {
    display: inherit;
    margin: auto;
  }

  .acc-info {
    display: initial;
  }

  strong {
    width: 37vw;
  }

  .list-group {
    width: 95vw;
  }

  .progress {
    width: 57%;
  }

  .list-group-item {
    padding-left: 0px;
  }
}

@media only screen and (max-width: 360px) {
  strong {
    width: 42vw;
  }

  .progress {
    width: 51%;
  }
}
