@import "../../../assets/sass/to-import.scss";

ul{
  border-radius: 10px;
  @include box-shadow($x: 6px, $y: 6px, $blur: 10px, $color: #888888);
}
.ul-heading{
  margin-bottom: -12px;

  li{
    height: 57px;
  }
}
.ul-body{
  overflow: scroll;
  max-height: 500px;
  max-height: 67vh;
}
