@import "../../../assets/sass/to-import.scss";

ul{
  border-radius: 10px;
  @include box-shadow($x: 0px, $y: 0px, $blur: 10px, $color: #888888);
}
.ul-heading{
  margin-bottom: -12px;

  li{
    height: 57px;
  }
}
.ul-body{
  overflow: auto;
  max-height: 50vh;
  height: 50vh;
}

@media screen and (max-width: 1024px){
  .ul-heading{
    li{
      h4{
        font-size: 17px;
      }
    }
  }
}
